*{
	margin: 0;
	padding: 0;
}

html{
	font-size:54px;
}

body{
	font: 14px/1.5 "Microsoft YaHei",arial,sans-serif,'宋体';
	background-color: #f2f2f2;
    color: #333;
}


header,.container{
	/* max-width: 10rem; */
	/* margin:0 auto; */
	overflow: hidden;
}

a{
	text-decoration: none;
}


li{
	list-style: none;
}







/*-------------------header-----------------------*/

header{
	position:relative;
	height:1.16rem;
	line-height: 1.16rem;
	font-size: 16px;
	color:#FFF;
	background-color: #80cbd1;
	text-align:center;
	

}

/*字体*/
/*----------------Iconfont-阿里巴巴矢量图标库---------------------*/
@font-face {
  font-family: 'iconfont';
  src: url('../icon/left arrow.eot'); /* IE9*/
  src: url('../icon/left arrow.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../icon/left arrow.woff') format('woff'), /* chrome、firefox */
  url('../icon/left arrow.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../icon/left arrow.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont {
	position: absolute;
	top:1px;
	left: 0.4rem;
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  cursor:pointer;
}

.icon-back:before {
  content: "\e601";
}


/* header .iconfont{
	position: absolute;
	top:0;
	left: 0.4rem;
	width:0.3rem;
	height:16px;
	margin-top: 22px;
	border:1px solid #ccc;
	background:url(../img/001.woff) no-repeat;
}
 */

header a{
	color:#FFF;
	position: absolute;
	top:0;
	left: 0.8rem;
}

header h1{
	font-size: 16px;
}






/*-------------------container-----------------------*/




/*-------------------nav-----------------------*/


.container .nav ul{
	display: flex;
	
}


.container .nav ul li{
	float:left;
	flex:1;
	text-align:center;
	line-height: 1.2rem;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;	
}



.container .nav ul li:hover{
	border-bottom: 4px solid #80cbd1;
}

.container .nav ul li a{
	display:block;
	color:#333;	
	width:100%;
	height:100%;
}





/*-------------------main-----------------------*/

.container .main{
	background: #FFF;
	margin-bottom: 20px;
}


/*-------------------banner-----------------------*/


.container .main .banner img{
	width:100%;
}




/*-------------------tab-----------------------*/



.container .main .tab{
	height:2.8rem;
	position: relative;
}


.container .main .tab ul{
	width:100%;
	height:100%;
	display: flex;
}



.container .main .tab ul li{
	float:left;
	flex:1;
	display: flex;
	justify-content:center;
	align-items:center;

}


.container .main .tab ul li .tab-img{
	width:1rem;
	height:1rem;
	margin-bottom: 0.5rem;
}



.container .main .tab ul li .tab-img img{
	width:100%;
}

.container .main .tab ul li .tab-img h3{
	text-align:center;
}



.container .main .tab ul:after{
	content:'';
	display: block;
	width:94%;
	height:0.04rem;
	background: #DFDFDF;
	position: absolute;
	bottom:0;
	left:3%;
}






/*-------------------col-----------------------*/




.col ul{
	display: flex;

}



.col ul li{
	float:left;
	flex:1;
	text-align: center;
	width:3rem;
	height:3rem;
	margin:20px 0;
}

.col ul li:not(:last-child){
	border-right:1px solid #DFDFDF;
}


.col ul li img{
	height:60%;
}

.col ul li h4{
	color:#999;
}






/*-------------------mod-----------------------*/



.mod{
	background: #FFF;
	margin-bottom: 20px;
	
}

.mod .mod-box{
	margin: 0 3%;
}



.mod .mod-title{
	height:1rem;
	line-height:1rem ;
	position: relative;
}

.mod .mod-title h2{
	font-weight: normal;
	color:#999;
}


.mod .mod-title h2:after{
	content:'';
	display: block;
	width:100%;
	height:0.04rem;
	background: #DFDFDF;
	position: absolute;
	bottom: 0;
	left:0;

}



.mod .mod-item{
	display: flex;
	/* justify-content: space-between; */
	padding: 0.2rem;
}

.mod .mod-item:not(:last-child){
	padding-bottom: 0;
}

.mod .mod-item .mod-img{
	height:2rem;
	width:2rem;
	flex-shrink: 0;
	margin-right: 0.1rem;
}

.mod .mod-item .mod-img img{
	width:100%;
	height:100%;
	border:2px solid #FFCC33;
	box-sizing:border-box;
}


.mod .mod-item .mod-p{
	width:50%;
	height: 1rem;

}

.mod .mod-item .mod-p:not(:last-child){
	margin-right: 0.1rem;
}


.mod .mod-item .mod-p p{
	width:100%;
	height:95%;
	background: #CCC;
	display:flex;
	justify-content: center;
	align-items: center;
}

.mod .mod-item .mod-p p:not(:last-child){
	margin-bottom: 0.1rem;
}




/*-------------------article-----------------------*/

.article{
	background: #FFF;
}

.article .time{
	color:#999;
	position: absolute;
	bottom: 2%;
	left:0;
}

/*-------------------article-row-----------------------*/

.article .article-row .article-item{
	border-bottom: 0.04rem solid #DFDFDF;
	display:flex;
	padding:3%;
}


.article .article-row .article-item .img{
	flex:1;
	margin-right: 0.2rem;
}

.article .article-row .article-item .img img{
	width: 100%;
	
}

.article .article-row .article-item .content{
	flex:2;
	/* padding: 0.2rem;
	padding-top:0; */
	position: relative;

}





/*-------------------article-column-----------------------*/

.article .article-column{
	position: relative;
	margin:3%;
}


.article .article-column .title {
	/* padding:0 0.5rem; */
}

.article .article-column ul{
	display:flex;
	/* justify-content:space-between; */

}

.article .article-column ul li{
	margin:3% 1% 6% 0;
	flex:1;
}


.article .article-column ul li img{
	width:100%;
}



























